DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=db_password
DB_NAME=SkywardVision
DB_SSL=false
PORT=5000
JWT_SECRET=skyward_secret
JWT_REFRESH_SECRET=refresh_token
EMAIL_USER=email@gmail.com
EMAIL_PASS=email_pass
DATABASE_URL="mysql://root:db_password@localhost:3306/SkywardVision"

RESEND_API_KEY=resend_api_key